---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;

  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
  };
});
---

<Layout title="Welcome to Astro.">
  <main>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.title}</a>
            <p>{post.description}</p>
            <p>{post.date}</p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
